.iconButton {
	border: 2px solid var(--black);
	border-radius: 5px;
	padding: 6px 12px;
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: center;
}

.iconButton svg {
	width: 14px;
	height: 14px;
	margin-right: 6px;
	fill: var(--black);
}