:root {
	--black: #{$black};
	--white: #{$white};
	--red: #{$red};
	--lightgray: #{$lightgray};
	--shadow: #{$shadow};
	--shadow-hard: #{$shadow-hard};
	--selected-height: #{selected-height};
}

html {
	font-family: 'Roboto', sans-serif;
}

section[class^="section"] {
	padding-bottom: 60px;
}

section[class^="section"]:nth-of-type(odd) {
	background-color: var(--lightgray);
}

h2.section-title {
	text-align: center;
	color: var(--black);
	font-size: 32px;
	line-height: var(--selected-height);
}

h2.section-title span {
	background-color: var(--red);
	color: var(--white);
	padding: 0 10px;
	height: var(--selected-height);
	display: inline-block;
	margin-bottom: 50px;
}